# Environment
NODE_ENV=development

# App Configuration
APP_TZ=UTC
APP_HOST=localhost
APP_PORT=8000
APP_GLOBAL_PREFIX=api
APP_URL=http://localhost:8000
APP_URL_VERSION_ENABLE=true
APP_URL_VERSION_PREFIX=v
APP_URL_VERSION=1

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/workinley_dev

# better-auth
BETTER_AUTH_SECRET=your-super-secret-key-minimum-32-characters-long
TRUSTED_ORIGINS=http://localhost:3000

# CORS
MIDDLEWARE_CORS_ORIGIN=http://localhost:3000

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=aws-access-key
AWS_SECRET_ACCESS_KEY=aws-secret-key
S3_BUCKET_NAME=workinley-storage
